src/main/resources/SaboresDelNorteWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.1 git-revision#6a0a3a3. -->
<definitions targetNamespace="http://services.saboresdelnorte.das.ubp.edu.ar/" name="SaboresDelNorteWS" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://services.saboresdelnorte.das.ubp.edu.ar/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://services.saboresdelnorte.das.ubp.edu.ar/" schemaLocation="SaboresDelNorteWS_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="RegistrarClickContenido">
    <part name="parameters" element="tns:RegistrarClickContenidoRequest"/>
  </message>
  <message name="RegistrarClickContenidoResponse">
    <part name="parameters" element="tns:RegistrarClickContenidoResponse"/>
  </message>
  <message name="CrearReservaDesdeRistorino">
    <part name="parameters" element="tns:CrearReservaDesdeRistorinoRequest"/>
  </message>
  <message name="CrearReservaDesdeRistorinoResponse">
    <part name="parameters" element="tns:CrearReservaDesdeRistorinoResponse"/>
  </message>
  <message name="ObtenerContenidosNoPublicados">
    <part name="parameters" element="tns:ObtenerContenidosNoPublicadosRequest"/>
  </message>
  <message name="ObtenerContenidosNoPublicadosResponse">
    <part name="parameters" element="tns:ObtenerContenidosNoPublicadosResponse"/>
  </message>
  <message name="ActualizarContenidosNoPublicados">
    <part name="parameters" element="tns:ActualizarContenidosNoPublicadosRequest"/>
  </message>
  <message name="ActualizarContenidosNoPublicadosResponse">
    <part name="parameters" element="tns:ActualizarContenidosNoPublicadosResponse"/>
  </message>
  <message name="ObtenerDisponibilidadHorariaZona">
    <part name="parameters" element="tns:ObtenerDisponibilidadHorariaZonaRequest"/>
  </message>
  <message name="ObtenerDisponibilidadHorariaZonaResponse">
    <part name="parameters" element="tns:ObtenerDisponibilidadHorariaZonaResponse"/>
  </message>
  <portType name="SaboresDelNorteWS">
    <operation name="RegistrarClickContenido">
      <input wsam:Action="http://services.saboresdelnorte.das.ubp.edu.ar/SaboresDelNorteWS/RegistrarClickContenidoRequest" message="tns:RegistrarClickContenido"/>
      <output wsam:Action="http://services.saboresdelnorte.das.ubp.edu.ar/SaboresDelNorteWS/RegistrarClickContenidoResponse" message="tns:RegistrarClickContenidoResponse"/>
    </operation>
    <operation name="CrearReservaDesdeRistorino">
      <input wsam:Action="http://services.saboresdelnorte.das.ubp.edu.ar/SaboresDelNorteWS/CrearReservaDesdeRistorinoRequest" message="tns:CrearReservaDesdeRistorino"/>
      <output wsam:Action="http://services.saboresdelnorte.das.ubp.edu.ar/SaboresDelNorteWS/CrearReservaDesdeRistorinoResponse" message="tns:CrearReservaDesdeRistorinoResponse"/>
    </operation>
    <operation name="ObtenerContenidosNoPublicados">
      <input wsam:Action="http://services.saboresdelnorte.das.ubp.edu.ar/SaboresDelNorteWS/ObtenerContenidosNoPublicadosRequest" message="tns:ObtenerContenidosNoPublicados"/>
      <output wsam:Action="http://services.saboresdelnorte.das.ubp.edu.ar/SaboresDelNorteWS/ObtenerContenidosNoPublicadosResponse" message="tns:ObtenerContenidosNoPublicadosResponse"/>
    </operation>
    <operation name="ActualizarContenidosNoPublicados">
      <input wsam:Action="http://services.saboresdelnorte.das.ubp.edu.ar/SaboresDelNorteWS/ActualizarContenidosNoPublicadosRequest" message="tns:ActualizarContenidosNoPublicados"/>
      <output wsam:Action="http://services.saboresdelnorte.das.ubp.edu.ar/SaboresDelNorteWS/ActualizarContenidosNoPublicadosResponse" message="tns:ActualizarContenidosNoPublicadosResponse"/>
    </operation>
    <operation name="ObtenerDisponibilidadHorariaZona">
      <input wsam:Action="http://services.saboresdelnorte.das.ubp.edu.ar/SaboresDelNorteWS/ObtenerDisponibilidadHorariaZonaRequest" message="tns:ObtenerDisponibilidadHorariaZona"/>
      <output wsam:Action="http://services.saboresdelnorte.das.ubp.edu.ar/SaboresDelNorteWS/ObtenerDisponibilidadHorariaZonaResponse" message="tns:ObtenerDisponibilidadHorariaZonaResponse"/>
    </operation>
  </portType>
  <binding name="SaboresDelNorteWSPortBinding" type="tns:SaboresDelNorteWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="RegistrarClickContenido">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CrearReservaDesdeRistorino">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ObtenerContenidosNoPublicados">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ActualizarContenidosNoPublicados">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ObtenerDisponibilidadHorariaZona">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="SaboresDelNorteWS">
    <port name="SaboresDelNorteWSPort" binding="tns:SaboresDelNorteWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

